* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #edeef6;
    text-decoration: none;
}

:root {
    --darkblue: #32333e;
    --cyan: #92ccd0;
}

header {
    padding: 14px;
    background-color: var(--darkblue);
    display: flex;
    justify-content: space-between;
    
    
}

header h1 {
    font-weight: bolder;
    font-size: 55px;
    margin: 25px;
    color: var(--darkblue);
    background-color: var(--cyan);
    text-decoration: none;
    padding: 0;
    display: inline;
    float:left
    
}

header nav {
    margin: 40px;
    background-color: var(--darkblue);
    float: right;
}

header nav ul {
    background-color: var(--darkblue);
}

header nav ul li {
    background-color: var(--darkblue);
    display: inline;
    text-decoration: none;
    list-style-type: none;
    
    
}

header nav ul li a {
    margin: 0 25px;
    padding: 0 25px;
    background-color: var(--darkblue);
}

header a {
    font-size: x-large;
    text-decoration-line: underline;
    background-color: var(--darkblue);
    color: var(--cyan);
    
}

.hero {
    height: 300px;
    background-image: url("../assets/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.subtitle {
    position: absolute;
    bottom: 25px;
    right: 25px; 
}

.subtitle p {
    background-color: var(--cyan);
    color: var(--darkblue);
    font-size: xx-large;
    font-weight: bold;
    padding: 5px;
}

.about-me {
    color: var(--darkblue);
    padding: 10px;
    height: 80px;
    

}

.about-me h2 {
    font-size: 45px;
    font-weight: bolder;
    width: 10%;
    float: left;
    padding-left: 300px;
    padding-top: 60px;
   
}

.about-me p {
    width: 75%;
    float:right;
    border-left: 3px solid var(--darkblue);
    padding: 45px;
    margin-top: 60px;

}

.work {
    display: flex;
    color: var(--darkblue);
    margin-top: 150px;
    padding: 10px;
}

.work h2 {
    font-size: 45px;
    font-weight: bolder;
    margin-left: 300px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 3px solid var(--darkblue);
    margin-left: 62px;
    width: 1200px;
}

.flex-box div {
    border: 3px solid var(--cyan);
    padding: 10px;
    margin: 25px;

}

.surf-report {
    flex-basis: 1200px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 600px;
    background-image: url("../assets/surf-report-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.surf-report article {
    position: absolute;    
    margin-top: 500px;
    padding: 10px;
    background-color: var(--cyan);
}

.surf-report h3, .surf-report p {
    background-color: var(--cyan);
}

.led-wall {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 200px;
    background-image: url("../assets/led-wall-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.led-wall article {
    position: absolute;
    margin-top: 125px;
    padding: 5px;
    background-color: var(--cyan);
}

.led-wall h3, .led-wall p {
    background-color: var(--cyan);
}

.calculator {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 200px;
    background-image: url("../assets/calculator-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.calculator article {
    position: absolute;
    margin-top: 125px;
    padding: 5px;
    background-color: var(--cyan);
}

.calculator h3, .calculator p {
    background-color: var(--cyan);
}

.pastel-puzzels {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 200px;
    background-image: url("../assets/pastel-puzzels-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.pastel-puzzels article {
    position: absolute;
    margin-top: 125px;
    padding: 5px;
    background-color: var(--cyan);
}

.pastel-puzzels h3, .pastel-puzzels p {
    background-color: var(--cyan);
}

.run-buddy {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 200px;
    background-image: url("../assets/run-buddy-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.run-buddy article {
    position: absolute;
    margin-top: 125px;
    padding: 5px;
    background-color: var(--cyan);
}

.run-buddy h3, .run-buddy p {
    background-color: var(--cyan);
}



